.header-color{
  background: #f46b45;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid{
  background: #f46b45;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align:center;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
}

.avatar-img{
  height:15.625rem;
  padding-top:5rem;
}

.banner-text{
  background-color: black;
  opacity:0.8;
  width:75%;
  margin:auto;
  border-radius:10px;
}

.banner-text h1{
  color:white;
  font-size:66px;
  font-weight:bold;
}
.banner-text hr{
  border-top: 5px dotted white;
  width:50%;
  margin:auto;
  
}
.banner-text p{
  color:white;
  font-size:20px;
  padding:1em;
}

.social-links{
  display:flex;
  justify-content: space-between;
  width:50%;
  margin:auto;

}

.social-links i{
  color:white;
  font-size:5em;
  padding:8px;

}